attrs==23.2.0
black==24.4.2
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
coverage==7.5.3
exceptiongroup==1.2.1
freezegun==1.5.1
future==1.0.0
idna==3.7
iniconfig==2.0.0
isodate==0.6.1
isort==5.13.2
lxml==5.2.2
lxml-stubs==0.5.1
meemoo-cloudevents==0.1.0rc3
meemoo-metsrw==0.4.0
multidict==6.0.5
mypy==1.10.0
mypy-extensions==1.0.0
packaging==24.0
pathspec==0.12.1
platformdirs==4.2.2
pluggy==1.5.0
pulsar-client==3.5.0
pyparsing==3.1.2
pytest==8.2.1
pytest-cov==5.0.0
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
PyYAML==6.0.1
rdflib==7.0.0
requests==2.32.3
six==1.16.0
structlog==24.2.0
tomli==2.0.1
types-requests==2.32.0.20240602
types-urllib3==1.26.25.14
typing_extensions==4.12.1
urllib3==2.2.1
viaa-chassis==0.2.1
